.Vscodefull {
    margin: 0 auto;
    width: 100%;
    height: 652px;
    background-color: rgb(43, 43, 51);
}
.nav {
    font-weight: 100;
    color: white;
    display: flex;
    height: 30px;
    cursor: default;
}
.navbar__files{
    margin-left: 10px;
}
.b{
    background:rgb(43, 38, 38);
    margin-left: -30px;
}
.vs {
    background-color: none;
    height: 30px;
}

ul {
    list-style-type: none;
}

.nav__ul {
    margin-left: -47px;
    height: 30px;
    margin-top: -1px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav__li {
    margin: auto;
    height: 25px;
}
.nav__li b {
    font-weight: 400;
    padding: 5px;
}

.nav__li :hover {
    border-radius: 5px;
    background-color: rgb(72, 72, 80);
}

.nav__p {
    position: absolute;
    height: 30px;
    width: 350px;
    margin-top: 3px;
    margin-left: 900px;
    display: flex;
}

.nav__vihod {
    margin-top: -43px;
    width: 100px;
    margin-left: 92%;
    justify-content: space-between;
    display: flex;
}

.hover {
    margin-left: -27px;
    text-align: center;
}
.bi{
    color: white;

    border-radius: 5px;
    padding: 5px;  
}
.hover :hover{
    background-color: rgb(72, 72, 80);
}
.red{
    margin-left: -27px;
    text-align: center;
}
.red :hover{
    background-color: red;
}
.top{
    width: 50px;
    height: 595px;
    background-color: rgb(62, 62, 62);
    text-align: center;
}
.top__img{
    width: 40px;
    object-fit: cover;
    height: 50px;
}
.search{
    width: 40px;
    transform: rotate(90deg);
}
.usb{
    width: 40px;
}
.cubik{
    width: 40px;
}
.navbar__footer{
    margin-top: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    position: absolute;
}
.user__icon{
    width: 30px;
}
.parametr{
    width: 40px;
}
 button{
    padding: 5px;
    background-color: transparent;
    border: none;
    margin-top: 15px;
}
button{
    background-color: transparent;
}
.files{
    width: 200px;
    height: 100%;
    color: rgb(133, 189, 50);
}
.files h5{
    font-weight: 500;
    font-size: large;
    margin-left: 15px;
    margin-top: 12px;
}
.h5{
    text-align: left;
    height: 50px;
    border: 1px solid transparent;
}
.df{
    display: flex;
}
.m-left{
    margin-left: -30px;
}
.m-left b{
    margin-left: 20px;
}
.m-left:hover{
    background-color: rgba(128, 128, 128, 0.71);
}
.ul_li:hover{
    background-color: rgba(128, 128, 128, 0.459);
}
.ul_li{
    margin-left: -30px;
}
.ul_li b{
    margin-left: 31px;
}
.line{
    margin-left: -32px;
    position: absolute;
    margin-top: 173px;
    background-color: rgba(81, 77, 77, 0.459);
}
.ul_il{
    width: 170px;
    margin-left: 29px;
}